.flows_jhonServer.json.backup
[{"id":"a13e9db4bddbccb1","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"360a4044.67227","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10ce163f.81fe0a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28920169.1ebeee","type":"ui_tab","name":"CasaHuancayo ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"8c7ff155.eae8a","type":"ui_group","name":"Estudio","tab":"28920169.1ebeee","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfb03020.7831f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"b1382e2b.f9e0a","type":"mqtt in","z":"360a4044.67227","name":"pruebaMensaje","topic":"outTopic","qos":"2","datatype":"utf8","broker":"10ce163f.81fe0a","inputs":0,"x":330,"y":340,"wires":[["cc70ff00.f6c6a","4f245a30.3e1944"]]},{"id":"cc70ff00.f6c6a","type":"debug","z":"360a4044.67227","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"e27c7ba9.9f9838","type":"mqtt out","z":"360a4044.67227","name":"pruebaMensajeOut","topic":"inTopic","qos":"2","retain":"","broker":"10ce163f.81fe0a","x":580,"y":480,"wires":[]},{"id":"facd9597.2d6fe8","type":"ui_switch","z":"360a4044.67227","name":"switchPrueba","label":"switch","tooltip":"","group":"8c7ff155.eae8a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"casaHuancayo/estudio/switch","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","x":350,"y":480,"wires":[["e27c7ba9.9f9838","cc70ff00.f6c6a"]]},{"id":"4f245a30.3e1944","type":"ui_text","z":"360a4044.67227","group":"8c7ff155.eae8a","order":1,"width":0,"height":0,"name":"MENSAJE","label":"text","format":"{{msg.payload}}","layout":"row-spread","x":600,"y":280,"wires":[]},{"id":"825bbe05.e8a07","type":"aedes broker","z":"360a4044.67227","name":"","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":330,"y":180,"wires":[[]]}]