.flows_DESKTOP-SQFDK9G.json.backup
[{"id":"578b5768.e3d028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"d5cce277.6d5f4","type":"ui_button","z":"578b5768.e3d028","name":"","group":"","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":230,"y":260,"wires":[[]]},{"id":"c579f09.4786b1","type":"ui_text_input","z":"578b5768.e3d028","name":"","label":"","tooltip":"","order":0,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":420,"y":260,"wires":[["3bfc58c4.b20438"]]},{"id":"3bfc58c4.b20438","type":"ui_text","z":"578b5768.e3d028","group":"","order":0,"width":0,"height":0,"name":"","label":"textdfasdfasd","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":260,"wires":[]}]