flows_jhonServer.json
[{"id":"360a4044.67227","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"10ce163f.81fe0a","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"28920169.1ebeee","type":"ui_tab","name":"CasaHuancayo ","icon":"dashboard","order":1,"disabled":true,"hidden":false},{"id":"8c7ff155.eae8a","type":"ui_group","name":"Estudio","tab":"28920169.1ebeee","order":1,"disp":true,"width":"6","collapse":false},{"id":"bfb03020.7831f","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"5a0b3336de55a1b1","type":"ui_link","name":"Link 2","icon":"open_in_browser","target":"newtab","order":2},{"id":"c198da8dc1fef142","type":"ui_tab","name":"Exampl Iot","icon":"dashboard","disabled":false,"hidden":false},{"id":"9009ec9d91644b2a","type":"ui_group","name":"Outputs","tab":"c198da8dc1fef142","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"25ebcc771b4517ba","type":"ui_group","name":"Inputs","tab":"c198da8dc1fef142","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"65789cbf0926d841","type":"ui_group","name":"Distance","tab":"c198da8dc1fef142","order":3,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b1382e2b.f9e0a","type":"mqtt in","z":"360a4044.67227","name":"pruebaMensaje","topic":"outTopic","qos":"2","datatype":"utf8","broker":"10ce163f.81fe0a","nl":false,"rap":false,"inputs":0,"x":360,"y":280,"wires":[["cc70ff00.f6c6a","4f245a30.3e1944"]]},{"id":"cc70ff00.f6c6a","type":"debug","z":"360a4044.67227","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":360,"wires":[]},{"id":"e27c7ba9.9f9838","type":"mqtt out","z":"360a4044.67227","name":"pruebaMensajeOut","topic":"inTopic","qos":"2","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10ce163f.81fe0a","x":630,"y":420,"wires":[]},{"id":"facd9597.2d6fe8","type":"ui_switch","z":"360a4044.67227","name":"switchPrueba","label":"Turn on Led","tooltip":"","group":"9009ec9d91644b2a","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"casaHuancayo/estudio/switch","topicType":"str","style":"","onvalue":"1","onvalueType":"str","onicon":"","oncolor":"","offvalue":"0","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"","x":380,"y":420,"wires":[["e27c7ba9.9f9838","cc70ff00.f6c6a"]]},{"id":"4f245a30.3e1944","type":"ui_text","z":"360a4044.67227","group":"25ebcc771b4517ba","order":1,"width":0,"height":0,"name":"Incoming message","label":"Incoming message","format":"{{msg.payload}}","layout":"row-spread","className":"","x":620,"y":280,"wires":[]},{"id":"825bbe05.e8a07","type":"aedes broker","z":"360a4044.67227","name":"","mqtt_port":1883,"mqtt_ws_port":"","cert":"","key":"","certname":"","keyname":"","dburl":"","usetls":false,"x":370,"y":180,"wires":[[],[]]},{"id":"3b6ca47ed5333ec6","type":"mqtt out","z":"360a4044.67227","name":"","topic":"messageTopic","qos":"1","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"10ce163f.81fe0a","x":660,"y":700,"wires":[]},{"id":"4d0a14abd8b4762a","type":"ui_button","z":"360a4044.67227","name":"","group":"8c7ff155.eae8a","order":3,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"date","topic":"topic","topicType":"msg","x":410,"y":660,"wires":[["3b6ca47ed5333ec6"]]},{"id":"706cc605d9cb558c","type":"mqtt in","z":"360a4044.67227","name":"","topic":"messageTopic","qos":"2","datatype":"auto-detect","broker":"10ce163f.81fe0a","nl":false,"rap":true,"rh":0,"inputs":0,"x":430,"y":840,"wires":[["9cd2df180832f83c"]]},{"id":"9cd2df180832f83c","type":"ui_text","z":"360a4044.67227","group":"9009ec9d91644b2a","order":4,"width":0,"height":0,"name":"Message sent","label":"Message sent","format":"{{msg.payload}}","layout":"row-spread","className":"","x":680,"y":840,"wires":[]},{"id":"8e27269cdf4e8791","type":"ui_text_input","z":"360a4044.67227","name":"","label":"","tooltip":"","group":"9009ec9d91644b2a","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":420,"y":720,"wires":[["3b6ca47ed5333ec6"]]},{"id":"e0031122c936641d","type":"ui_date_picker","z":"360a4044.67227","name":"","label":"date","group":"9009ec9d91644b2a","order":2,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":410,"y":780,"wires":[["3b6ca47ed5333ec6"]]},{"id":"fd5b3d7ec42dc239","type":"ui_colour_picker","z":"360a4044.67227","name":"","label":"","group":"9009ec9d91644b2a","format":"hex","outformat":"string","showSwatch":true,"showPicker":false,"showValue":false,"showHue":false,"showAlpha":false,"showLightness":true,"square":"false","dynOutput":"false","order":4,"width":0,"height":0,"passthru":true,"topic":"topic","topicType":"msg","className":"","x":410,"y":600,"wires":[["3b6ca47ed5333ec6"]]},{"id":"3f775610d055be9e","type":"ui_ui_control","z":"360a4044.67227","name":"","events":"all","x":180,"y":520,"wires":[[]]},{"id":"407553b85f38d222","type":"mqtt in","z":"360a4044.67227","name":"distanceIncoming","topic":"distanceTopic","qos":"2","datatype":"utf8","broker":"10ce163f.81fe0a","nl":false,"rap":false,"inputs":0,"x":380,"y":520,"wires":[["6c3044e482df20d1","4732718f2f94e3b2","8e1bc9d1c27a4564","76857393b22b1c6f","6861d05c14a9b3e9","a33d816a449cb9b8"]]},{"id":"6c3044e482df20d1","type":"ui_gauge","z":"360a4044.67227","name":"","group":"65789cbf0926d841","order":1,"width":0,"height":0,"gtype":"gage","title":"gauge","label":"units","format":"{{value}}","min":0,"max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"","x":570,"y":520,"wires":[]},{"id":"4732718f2f94e3b2","type":"ui_chart","z":"360a4044.67227","name":"","group":"65789cbf0926d841","order":1,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"","x":570,"y":560,"wires":[[]]},{"id":"8e1bc9d1c27a4564","type":"ui_text","z":"360a4044.67227","group":"65789cbf0926d841","order":1,"width":0,"height":0,"name":"Incoming message","label":"Distance","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":480,"wires":[]},{"id":"76857393b22b1c6f","type":"ui_digital_display","z":"360a4044.67227","name":"","group":"65789cbf0926d841","order":3,"width":0,"height":0,"digits":5,"decimals":1,"x":640,"y":620,"wires":[]},{"id":"6861d05c14a9b3e9","type":"ui_level","z":"360a4044.67227","group":"65789cbf0926d841","order":4,"width":0,"height":0,"name":"","label":"","colorHi":"#e60000","colorWarn":"#ff9900","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"400","segWarn":"","segHigh":"","unit":"","layout":"sh","channelA":"","channelB":"","decimals":0,"animations":"soft","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":810,"y":520,"wires":[]},{"id":"a33d816a449cb9b8","type":"ui_simple_level","z":"360a4044.67227","name":"","green":"100","orange":"70","group":"65789cbf0926d841","order":5,"width":0,"height":0,"x":860,"y":580,"wires":[]}]