flows_DESKTOP-SQFDK9G.json
[{"id":"578b5768.e3d028","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"8c3a1ec8.b8472","type":"ui_group","z":"","name":"taag","tab":"","disp":true,"width":"6","collapse":false,"className":""},{"id":"3a3cbbd.e239144","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"52bc8b55.5278b4","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"f0e6078c.452228","type":"ui_group","z":"","name":"Defaultddd","tab":"3a3cbbd.e239144","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"d5cce277.6d5f4","type":"ui_button","z":"578b5768.e3d028","name":"","group":"f0e6078c.452228","order":0,"width":0,"height":0,"passthru":false,"label":"button","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"sdfdsasd","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":260,"wires":[["c579f09.4786b1"]]},{"id":"c579f09.4786b1","type":"ui_text_input","z":"578b5768.e3d028","name":"","label":"","tooltip":"","group":"f0e6078c.452228","order":1,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"topic","sendOnBlur":true,"className":"","topicType":"msg","x":420,"y":260,"wires":[["3bfc58c4.b20438"]]},{"id":"3bfc58c4.b20438","type":"ui_text","z":"578b5768.e3d028","group":"f0e6078c.452228","order":2,"width":0,"height":0,"name":"","label":"textdfasdfasd","format":"{{msg.payload}}","layout":"row-spread","className":"","x":610,"y":260,"wires":[]}]